body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    
}

h2{
    display: flex;
    font-size: 25px;
    font-style : #252525;
    margin: 50px 0px 0px 35px;
    font-family: 'Michroma', sans-serif;
} 

.main_title_bg {
    display: flex;    
    justify-content: center;
    padding-bottom: 16px;
    height: 10vh;    
    font-size: 65px;
    color: #7c7c7c;
    font-family: 'Michroma', regular;
    text-decoration-style: double;
    background: rgb(134,121,166);
    background: linear-gradient(90deg, rgba(134,121,166,1) 0%, rgba(0,0,0,1) 50%, rgba(134,121,166,1) 100%); 
} 

.main_title_text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90%;
}

.main_title_undername_text{
    display: flex;    
    justify-content: center;
    padding-bottom: 16px;
    font-size: 10px;
    color: #7c7c7c;
    font-family: 'Michroma', regular;
    text-decoration-style: double;
    background: rgb(134,121,166);
    background: linear-gradient(90deg, rgba(134,121,166,1) 0%, rgba(0,0,0,1) 50%, rgba(134,121,166,1) 100%); 
}

#main_title_undername_text{
    display: flex;    
    justify-content: center;
    padding-bottom: 16px;
    font-size: 20px;
    color: #7c7c7c;
    font-family: 'Michroma', regular;
    text-decoration-style: double;
    background: rgb(134,121,166);
    background: linear-gradient(90deg, rgba(134,121,166,1) 0%, rgba(0,0,0,1) 50%, rgba(134,121,166,1) 100%); 

}


.dropdown-item {
    display: flex;
    font-family: 'Michroma', regular;
    font-size: 80%;
}


.nav-link{
    color: whitesmoke !important;
    font-family: 'Michroma', regular;
    font-size: 80%;
}
.navbar-brand{
    color: whitesmoke !important;
    font-family: 'Michroma', regular;
    font-size: 80%;
}

/* Index img start */

.container img {
    padding-left: 0px;
    padding-right: 0px;
}
/* index img end */



/* Index News */
.home_news{
    
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}


/*About Main CSS */

.about_text{
    display: flex;
    display: inline-block;
    font-size: 80%;
}

.about_text_p_text{
    
    margin: 50px 50px 50px 50px ;
    width: 60%;    
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

/* About Main CSS End */


/* Upcoming Events*/

.upcoming_events{
    text-decoration-color:#ffffff;
    font-size: 25px;
    margin: 50px;    
    font-family: 'Michroma', sans-serif;
}

.events_list{
    line-height: 55px;
    margin: 50px ;
    width: 90%;    
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}


/* Upcoming Events */



.instagram_container{
    display: flex;
    justify-content: center;
}

.youtube_container{
    display: flex;
    justify-content: center;
}


.instagram{
    display: flex;
    padding: 5px 5px;
    margin: 5px 5px;
    width: 40%;
    }

.youtube{
    
    display: flex;
    padding: 5px 5px;
    margin: 5px 5px;
    width: 40%;
}


#footer{
    display: flex;
    justify-content:center;
    background: rgb(134,121,166);
    background: linear-gradient(90deg, rgba(134,121,166,1) 0%, rgba(0,0,0,1) 50%, rgba(134,121,166,1) 100%); 
    border-top: 4px solid #222;
    margin: 0 auto;    
}







/* {
    font-family: 'Raleway', sans-serif;
} */
