body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    
}

h2{
    display: flex;
    font-size: 25px;
    font-style : #252525;
    margin: 50px 0px 0px 35px;
    font-family: 'Michroma', sans-serif;
} 


/* Main title */
.main_title_bg {
    display: flex;    
    justify-content: center;
    padding-bottom: 16px;
    height: 10vh;    
    font-size: 65px;
    color: #7c7c7c;
    font-family: 'Michroma', regular;
    text-decoration-style: double;
    background: rgb(134,121,166);
    background: linear-gradient(90deg, rgba(134,121,166,1) 0%, rgba(0,0,0,1) 50%, rgba(134,121,166,1) 100%); 
} 

.main_title_text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90%;
}

.main_title_undername_text{
    display: flex;    
    justify-content: center;
    padding-bottom: 16px;
    font-size: 10px;
    color: #7c7c7c;
    font-family: 'Michroma', regular;
    text-decoration-style: double;
    background: rgb(134,121,166);
    background: linear-gradient(90deg, #8679a6 0%, rgba(0,0,0,1) 50%, rgba(134,121,166,1) 100%); 
}

#main_title_undername_text{
    display: flex;    
    justify-content: center;
    padding-bottom: 16px;
    font-size: 20px;
    color: #7c7c7c;
    font-family: 'Michroma', regular;
    text-decoration-style: double;
    background: rgb(134,121,166);
    background: linear-gradient(90deg, rgba(134,121,166,1) 0%, rgba(0,0,0,1) 50%, rgba(134,121,166,1) 100%); 

}

/* Main title End */



/* NavBar */
.dropdown-item {
    display: flex;
    font-family: 'Michroma', regular;
    font-size: 80%;
}

.nav-link{
    color: whitesmoke !important;
    font-family: 'Michroma', regular;
    font-size: 80%;
}
.navbar-brand{
    color: whitesmoke !important;
    font-family: 'Michroma', regular;
    font-size: 80%;
}
/* NavBar End */




/* Index img start */

.container img {
    padding-left: 0px;
    padding-right: 0px;
}
/* index img end */




/* Index News */
.home_news{
    
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}

/* Index News End */




/*About Main CSS */

.about_text{
    display: flex;
    display: inline-block;
    font-size: 80%;
}

.about_text_p_text{
    
    margin: 50px 50px 50px 50px ;
    width: 60%;    
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

/* About Main CSS End */



/* Dance Videos */

.dance_videos_title {
    text-decoration-color:#ffffff;
    font-size: 25px;
    margin: 50px 20px;    
    font-family: 'Michroma', sans-serif; 
    
}

.responsiveContent {
    position: relative;
    height: 0;    
    overflow: hidden;
    padding-bottom: 56.2%;
    margin-bottom: 20px;
}
.responsiveContent iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container {
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/* Dance Videos End */


/* Dance Carousel */

.dance_photos_title {
    text-decoration-color:#ffffff;
    font-size: 25px;
    margin: 50px 20px;    
    font-family: 'Michroma', sans-serif; 
}


/* Dance Carousel End */


/* Upcoming Events*/

.upcomingEvents_text{
    display: flex;
    display: inline-block;
    font-size: 80%;
}

.upcomingEvents_text_p_text{
    
    margin: 50px;
    width: 60%;    
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

/* Upcoming Events End*/

/* Contact */

.form4 {
    background-color: whitesmoke;
    background-size: cover;
}

.top {
    padding-top: 100px;
    padding-bottom: 100px;
}

.form-bg {
    background: rgba(68, 68, 65, 0.77);
    padding: 20px;
}

.form {
    background-color: white !important;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.form-control {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #61615e;
    background: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

button.btn {
    display: block;
    padding: 11px 32px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 30px 0px;
}

.btn-blue {
    background-color: #8679a6;
    color: #fff;
    border: 1px solid #000000;
    
}

/* Contact End */

/* Footer */


#footer{
    display: flex;
    justify-content:center;
    background: rgb(134,121,166);
    background: linear-gradient(90deg, rgba(134,121,166,1) 0%, rgba(0,0,0,1) 50%, rgba(134,121,166,1) 100%); 
    border-top: 4px solid #222;
    margin: 0 auto;    
}


.instagram_container{
    display: flex;
    justify-content: center;
}

.youtube_container{
    display: flex;
    justify-content: center;
}


.instagram{
    display: flex;
    padding: 5px 5px;
    margin: 5px 5px;
    width: 40%;
    }

.youtube{
    
    display: flex;
    padding: 5px 5px;
    margin: 5px 5px;
    width: 40%;
}




/* {
    font-family: 'Raleway', sans-serif;
} */
