/* *{
    margin: 0;
    padding: 0;
} */

/* *{
    box-sizing: border-box;
} 
 */

body{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(171,171,171,1) 100%); 
}


h2{
    display: flex;
    font-size: 25px;
    font-style : #252525;
    margin: 50px 0px 0px 35px;
    font-family: 'Michroma', sans-serif;
} 



.header_index{
    background-color: #5b3869;
    padding: 0%;
}

#main_title{
    display: flex;    
    justify-content: center;
    height: 10vh;    
    font-size: 65px;
    color: #7c7c7c;
    font-family: 'Michroma', regular;
    text-decoration-style: double;
    background: rgb(134,121,166);
    background: linear-gradient(90deg, rgba(134,121,166,1) 0%, rgba(0,0,0,1) 50%, rgba(134,121,166,1) 100%); 
} 

#main_title_underName{
    
    display: flex;    
    justify-content: center;
    font-size: 20px;
    font-family: 'Michroma', regular;
    color: #7c7c7c;
    background: rgb(134,121,166);
    background: linear-gradient(90deg, rgba(134,121,166,1) 0%, rgba(0,0,0,1) 50%, rgba(134,121,166,1) 100%); 
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    width: 100%;
    font-family: 'Michroma', sans-serif;
}


li{
    list-style: none;
}


li a:hover{
    color: #000000;
    background-color: #5b3869;
    border: #ffffff;
    border-width: 5px;
    font-family: 'Michroma', sans-serif;
}

a{
    color: white;
}


.music_section_videos_title{
    text-align: center;   
    font-size: 20px;
    font-style : #252525;
    font-family: 'Michroma', sans-serif;
    margin-top: 80px;
}


.music_section_videos_content iframe{
    margin-top: 80px;
    padding: 10px;
    display: inline-flex;
}


.music_section_photos_title{
    text-align: center;   
    font-size: 20px;
    font-style : #252525;
    font-family: 'Michroma', sans-serif;
    margin-top: 80px;
}

.music_section_photos_content{
    margin-top: 80px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}



.dance_section_videos_title{
    text-align: center;   
    font-size: 20px;
    font-style : #252525;
    font-family: 'Michroma', sans-serif;
    margin: 80px;
}


.dance_section_videos_content iframe{
    
    margin-top: 80px;
    padding: 10px;
    display: inline-flex;
}



.dance_section_photos_title{
    text-align: center;   
    font-size: 20px;
    font-style : #252525;
    font-family: 'Michroma', sans-serif;
    margin-top: 80px;
}

.dance_section_photos_content{
    margin-top: 80px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.about_text{
    display: flex;
    display: inline-block;
}

.about_text_p_text{
    
    margin: 50px 50px 50px 50px ;
    width: 60%;    
    font-family: 'Michroma', sans-serif;
}
.home_news_p_text{
    display: flex;
    margin: 50px 0px 0px 35px;
    width: 50%;    
    font-family: 'Michroma', sans-serif;
}


.upcoming_events{
    text-decoration-color:#ffffff;
    font-size: 25px;
    margin: 50px;    
    font-family: 'Michroma', sans-serif;
}

.events_list{
    line-height: 55px;
    margin: 50px ;
    width: 90%;    
    
    font-size: 15px;
    font-family: 'Michroma', sans-serif;
}


.contact_body{
    background-color: whitesmoke;
}

.contact_title{
    display: flex;
    font-size: 25px;
    font-style : #252525;
    margin: 50px 0px 0px 35px;
    font-family: 'Michroma', sans-serif;
}


form {
    width: 100%;
    max-width: 600px;
    margin: 140px 120px 120px 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Michroma', sans-serif;
    background-color: #81529c;
    border: #252525;
    border-style: solid;
}


input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.send_btn{
    font-family: 'Michroma', sans-serif;
}

.reset_btn{
    font-family: 'Michroma', sans-serif;
}

.textarea{
    display: flex;
    resize: none;
    width: 92%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: #707070;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.go_up{
    display: flex;
    align-items: flex-end;
    width:max-content;
    align-items: center;
    margin-left: 93%;
    text-decoration: none;
    padding: 10px;
    font-family: 'Michroma', sans-serif;
    color: whitesmoke;
    
}

#footer{
    display: flex;
    justify-content: center;
    background: rgb(134,121,166);
    background: linear-gradient(90deg, rgba(134,121,166,1) 0%, rgba(0,0,0,1) 50%, rgba(134,121,166,1) 100%); 
    border-top: 3px solid #222;
    margin: 0 auto;    
}


.instagram img{
    
    display: flex;
    align-items: center;
    margin: 50px 20px;
    width: 50px;
    height: 50px;
        
}
.youtube img{
    
    display: flex;
    align-items: center;
    margin: 50px 20px;
    width: 50px;
    height: 50px;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}
@keyframes shadow-drop-2-center {
    0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

